# **Proyek Analisis Data: Film Dataset**

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [2]:
data_pd = pd.read_csv("data/FilmsDataset.csv")
data_pd.head()

,index,Genre,Year,Movies Released,Gross,Tickets Sold,Inflation-Adjusted Gross,Top Movie,Top Movie Gross (That Year),Top Movie Inflation-Adjusted Gross (That Year)
0,0,Adventure,1995,29,771507571,177358047,1590901682,Toy Story,150148222,3.096160e+08
1,1,Adventure,1996,34,1290490033,291966054,2618935504,Independence Day,306169255,6.213435e+08
2,2,Adventure,1997,23,881902843,192135684,1723457085,Men in Black,250650052,4.898324e+08
3,3,Adventure,1998,29,1614467732,344236174,3087798481,Armageddon,201578182,3.855344e+08
4,4,Adventure,1999,27,1612432107,317407880,2847148684,Star Wars Ep. I: The Phantom Menace,430443350,7.600545e+08

### Assessing Data

In [5]:
"""
kesalah data yang sering terjadi
-duplicated data
-missing value
-invalid value
-inacurated data
-inconsistant data
-outlier
"""
data_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   index                                           300 non-null    int64
 1   Genre                                           300 non-null    object
 2   Year                                            300 non-null    int64
 3   Movies Released                                 300 non-null    int64
 4   Gross                                           300 non-null    int64
 5   Tickets Sold                                    300 non-null    int64
 6   Inflation-Adjusted Gross                        300 non-null    int64
 7   Top Movie                                       300 non-null    object
 8   Top Movie Gross (That Year)                     300 non-null    int64
 9   Top Movie Inflation-Adjusted Gross (That Year)  300 non-null    float64
dtypes: float64(1), int64(7), object(2)
memory usage: 23.6+ KB

In [4]:
data_pd.describe(include = 'all')

,index,Genre,Year,Movies Released,Gross,Tickets Sold,Inflation-Adjusted Gross,Top Movie,Top Movie Gross (That Year),Top Movie Inflation-Adjusted Gross (That Year)
count,300.000000,300,300.000000,300.000000,3.000000e+02,3.000000e+02,3.000000e+02,300,3.000000e+02,3.000000e+02
unique,NaN,14,NaN,NaN,NaN,NaN,NaN,287,NaN,NaN
top,NaN,Adventure,NaN,NaN,NaN,NaN,NaN,"Three Billboards Outside Ebbing, Missouri",NaN,NaN
freq,NaN,24,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
mean,149.500000,NaN,2006.963333,46.700000,7.382075e+08,1.078744e+08,9.676330e+08,NaN,1.350016e+08,1.766255e+08
std,86.746758,NaN,6.801189,60.938398,8.783016e+08,1.227454e+08,1.101026e+09,NaN,1.395006e+08,1.737089e+08
min,0.000000,NaN,1995.000000,1.000000,2.010000e+03,2.250000e+02,2.018000e+03,NaN,2.010000e+03,2.018000e+03
25%,74.750000,NaN,2001.000000,6.000000,5.786591e+07,8.275600e+06,7.423214e+07,NaN,2.528707e+07,3.603908e+07
50%,149.500000,NaN,2007.000000,25.000000,3.694118e+08,5.634667e+07,5.054296e+08,NaN,9.351396e+07,1.223360e+08
75%,224.250000,NaN,2013.000000,56.250000,1.294524e+09,1.859968e+08,1.668391e+09,NaN,1.886230e+08,2.841907e+08
max,299.000000,NaN,2018.000000,287.000000,4.159138e+09,4.851841e+08,4.352101e+09,NaN,7.422089e+08,8.478831e+08

In [6]:
#Duplikasi
duplicated_data = data_pd.duplicated().sum()
print("Jumlah duplikasi data pada dataset: ",duplicated_data)

Jumlah duplikasi data pada dataset:  0

In [10]:
#Missing Value
data_pd.isnull().sum()

index                                             0
Genre                                             0
Year                                              0
Movies Released                                   0
Gross                                             0
Tickets Sold                                      0
Inflation-Adjusted Gross                          0
Top Movie                                         0
Top Movie Gross (That Year)                       0
Top Movie Inflation-Adjusted Gross (That Year)    0
dtype: int64

In [9]:
#Outliers
q25, q75 = np.percentile(data_pd["Gross"], 25), np.percentile(data_pd["Gross"], 75)
iqr = q75 - q25
cut_off = iqr * 1.5
minimum, maximum = q25 - cut_off, q75 + cut_off
outliers = [x for x in data_pd["Gross"] if x < minimum or x > maximum]
print("Data yang outliner: ",outliers)

Data yang outliner:  [3202949362, 3284291528, 4159137913, 3305708764, 4142067464]

### Cleaning Data

In [ ]:
duplicated_data = data_pd.duplicated().sum()
misssing_data = data_pd.isna().sum()

## Exploratory Data Analysis (EDA)

### Explore ...

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2